---
import Phone from "@icons/phone.svg";
import Clock from "@icons/clock.svg";
import Pin from "@icons/pin.svg";
---

<section class="contact">
  <div class="contact-inner">
    <div class="contact-text">
      <span>PROCESS</span>
      <h3>Contact Us. It’s Easy.</h3>

      <p>
        Leverage agile frameworks to provide a robust synopsis for high level
        overviews. Iterative approaches to corporate strategy foster
        collaborative.
      </p>

      <ul class="contact-list">
        <li>
          <div class="icon-circle phone-bg">
            <Phone />
          </div>

          <div class="contact-info">
            <p>Call Today</p>
            <span>+1 800 100 900</span>
          </div>
        </li>

        <li>
          <div class="icon-circle clock-bg">
            <Clock />
          </div>

          <div class="contact-info">
            <p>Monday To Friday</p>
            <span>9AM - 5PM</span>
          </div>
        </li>

        <li>
          <div class="icon-circle pin-bg">
            <Pin />
          </div>

          <div class="contact-info">
            <p>USA Office</p>
            <span>195 Devonshire St Boston, MA 02110</span>
          </div>
        </li>
      </ul>
    </div>

    <article class="img_grid">
      <figure>
        <img src="src/assets/images/contact_1.webp" alt="img_1" />
      </figure>

      <img src="src/assets/images/contact_2.webp" alt="img_2" />
      <img src="src/assets/images/contact_3.webp" alt="img_3" />
    </article>
  </div>
</section>

<style>
  @layer components {
    .contact {
      grid-column: full-start / full-end;
      display: grid;
      grid-template-columns: subgrid;
      padding: 80px 0;
    }

    .contact-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--space-xl);
      align-items: start;
    }

    /* IMAGE GRID */

    .img_grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 1em;
    }

    .img_grid img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    .img_grid figure {
      margin: 0;
      position: relative;
    }

    .img_grid figure img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .img_grid figure::before {
      content: "";
      position: absolute;
      bottom: -30px;
      left: -40px;
      background: var(--color-green-400);
      border-radius: 20px;
      width: 190px;
      height: 120px;
      z-index: -1;
    }

    /* GRID POSITION */

    .img_grid figure {
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    .img_grid img:nth-of-type(1) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    .img_grid img:nth-of-type(2) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    /* css til text sektionen */
    /* Herunder bruges supports not, det bruges til at se om browseren undersøttet text-box, 
    hvis ikke, så bruger der vores supports not, altså margin-top */

    .contact-text h3 {
      text-box: trim-both cap alphabetic;

      @supports not (text-box-trim: trim-both) {
        margin-top: calc(0.5cap - 0.5lh);
      }

      margin: 10px 0 20px;
    }

    /* contact listen */

    .contact-list {
      list-style: none;
      padding: 0;
      margin-top: 45px;
      display: grid;
      gap: var(--space-lg);
    }

    .contact-list li {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .contact-info {
      display: flex;
      flex-direction: column;
    }

    .contact-info span {
      font-weight: 600;
    }

    /* ikonerne */

    .icon-circle {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .phone-bg {
      background-color: #ffecbb;
      color: var(--color-yellow-500);
    }

    .clock-bg {
      background-color: var(--color-green-400);
      color: var(--color-green-600);
    }

    .pin-bg {
      background-color: var(--color-neutrals-200);
    }
  }
</style>
