---
import { Image } from "astro:assets";
import logo from "@assets/images/logo.svg";
---

<section class="navbar">
  <div class="navbar-inner">
    <a href="/" class="logo">
      <Image src={logo} alt="Logo" />
    </a>

    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/case">Case Study</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/about">About</a></li>
    </ul>

    <button popovertarget="login_popover" class="login"> Login </button>
  </div>

  <div popover id="login_popover">
    <h2>Dashboard Login</h2>

    <form>
      <label for="email">Email address</label>
      <input id="email" type="email" required />

      <label for="password">Password</label>
      <input id="password" type="password" required />

      <button type="submit" id="btn_dashboard"> Go to dashboard </button>
    </form>
  </div>
</section>

<style>
  @layer components {
    /* CSS TIL MENU-LINJEN */
    .navbar {
      grid-column: full-start / full-end;
      display: grid;
      grid-template-columns: subgrid;
      background-color: var(--color-neutrals-900);
      position: relative;
    }

    .navbar-inner {
      grid-column: content-start / content-end;
      display: grid;
      grid-template-columns: auto auto auto;
      justify-content: space-between;
      align-items: center;

      padding: 20px 0;
    }

    .nav-links {
      display: flex;
      justify-content: center;
      gap: 2.5rem;

      list-style: none;
      font-size: 18px;
    }

    .nav-links a {
      text-decoration: none;
      color: var(--color-neutrals-50);
    }

    .login {
      background-color: var(--color-neutrals-50);
      color: #0b0f19;

      border: none;
      border-radius: 20px;
      padding: 6px 26px;

      cursor: pointer;

      anchor-name: --login-btn;
    }

    /* CSS TIL POPOVER */

    [popover] input {
      width: 100%;
      max-width: 240px;

      padding: 10px 15px;
      border-radius: 30px;
      border: 1px solid #ccc;
    }

    [popover] label {
      width: 100%;
      max-width: 240px;
    }

    [popover] form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
    }

    h2 {
      font-size: 25px;
      text-align: center;
    }

    [popover] {
      position: absolute;
      position-anchor: --login-btn;
      position-area: bottom span-left;

      width: 300px;
      padding: 2.5rem;

      border-radius: 20px;
      border: none;

      background: var(--color-neutrals-100);

      &::before {
        content: "";
        position: fixed;
        clip-path: polygon(0 100%, 50% 0, 100% 100%);
        position-anchor: --button;
        position-area: bottom;
      }

      #btn_dashboard {
        margin-top: 10px;
        background-color: var(--color-yellow-500);
        padding: 10px 45px;
        border-radius: 20px;
        border-style: none;
        font-size: 16px;
      }

      /* popover animation */
      &,
      &::backdrop {
        transition:
          display 0.5s allow-discrete,
          overlay 0.5s allow-discrete,
          opacity 0.5s;
        opacity: 0;
      }

      &::backdrop {
        background: black;
      }

      &:popover-open {
        opacity: 1;

        &::backdrop {
          opacity: 0.5;
        }
      }

      @starting-style {
        &:popover-open,
        &:popover-open::backdrop {
          opacity: 0;
        }
      }
    }
  }
</style>
