---
import { Image } from "astro:assets";
import John from "@data/images/john.webp";
import Sarah from "@data/images/sarah.webp";
---

<section class="team_section">
  <div class="team_inner">
    <div class="team_text">
      <span>OUR TEAM</span>
      <h2>We champion the bold</h2>
      <p>
        Our success stems from the synergy between dedicated teams and our
        valued clients. We prioritize a company culture that fosters exceptional
        productivity, ensures customer satisfaction.
      </p>
      <button class="meet_btn">Meet the Team</button>
    </div>
    <div class="team_flex">
      <div class="team_person">
        <Image src={Sarah} alt="sarah image" />
        <div>
          <h3>Sarah Jasmine</h3>
          <h4>CEO at Company</h4>
          <p>
            Driving innovation and leadership with a focus on strategic growth
            and impactful decisions.
          </p>
        </div>
      </div>
      <div class="team_person">
        <Image src={John} alt="john image" />
        <div>
          <h3>John Carter</h3>
          <h4>Manager</h4>
          <p>
            Expert in operational efficiency, ensuring smooth processes and
            exceptional team performance.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  @layer components {
    .team_section {
      padding: 80px 0 100px;
    }

    .team_inner {
      display: grid;
      grid-template-columns: 1.7fr 2fr;
      gap: 6rem;

      h3 {
        font-size: 20px;
        margin-bottom: 5px;
      }

      h4 {
        font-weight: 450;
        margin-bottom: 5px;
      }
    }

    .team_flex {
      display: flex;
      flex-direction: column;
    }

    .meet_btn {
      border-radius: 20px;
      color: var(--color-neutrals-50);
      background-color: var(--color-neutrals-900);
      padding: 9px 15px;
      border: none;
      margin-top: 20px;
    }

    .team_person {
      display: flex;
      gap: 2rem;
      align-items: center;

      img {
        border-radius: 20px;
        width: 30%;
        height: auto;
        gap: 20px;
        margin-bottom: 40px;
      }
    }

    @media (max-width: 1024px) {
      .team_inner {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin: 30px;
      }

      .team_text {
        text-align: center;
        max-width: 60ch;
        margin-inline: auto;
      }

      .meet_btn {
        margin-inline: auto;
        display: block;
      }

      .team_flex {
        gap: 2rem;
      }

      .team_person {
        flex-direction: row;
        align-items: flex-start;
        gap: 1.5rem;
      }

      .team_person img {
        width: 120px;
        flex-shrink: 0;
        margin-bottom: 0;
      }
    }
  }
</style>
