---
import { Image } from "astro:assets";
import John from "@data/images/john.webp";
import Sarah from "@data/images/sarah.webp";
---

<section class="team_section">
  <div class="team_text">
    <p>Our team</p>
    <h2>We champion the bold</h2>
    <p>
      Our success stems from the synergy between dedicated teams and our valued
      clients. We prioritize a company culture that fosters exceptional
      productivity, ensures customer satisfaction.
    </p>
    <button class="meet_btn">Meet the Team</button>
  </div>
  <div class="team_flex">
    <div class="team_person">
      <Image src={Sarah} alt="sarah image" />
      <div class="person_text">
        <h3>Sarah Jasmine</h3>
        <h4>CEO at Company</h4>
        <p>
          Driving innovation and leadership with a focus on strategic growth and
          impactful decisions.
        </p>
      </div>
    </div>
    <div class="team_person">
      <Image src={John} alt="john image" />
      <div class="person_text">
        <h3>John Carter</h3>
        <h4>Manager</h4>
        <p>
          Expert in operational efficiency, ensuring smooth processes and
          exceptional team performance.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  @layer components {
    .team_section {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 3rem;
    }

    .team_flex {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .team_person {
      display: flex;
      gap: 25px;
      /* flex-direction: column; */
    }

    .person_text {
      width: 50%;
    }

    .meet_btn {
      border-radius: 20px;
      color: var(--color-neutrals-50);
      background-color: var(--color-neutrals-900);
      padding: 7px 20px;
      border: none;
      margin-top: 20px;
    }

    .team_person img {
      border-radius: 20px;
      width: 20%;
    }
  }
</style>
