---
import { Image } from "astro:assets";
import VisionImg from "@assets/images/vision.png";
---

<section class="wrapper">
  <article class="vision_inner">
    <div class="vision_desc">
      <div class="text">
        <span>OUR VISION</span>
        <h3>Turn your ideas into reality.</h3>
        <p>
          Capitalize on low hanging fruit to identify a ballpark value added
          activity beta test. Override the digital divide with additional from
          DevOps.
        </p>
        <ul>
          <li>
            Bring to the table win-win survival strategies to ensure proactive
            domination. At the end of the day.
          </li>
          <li>
            Capitalize on low hanging fruit to identify a ballpark value added
            activity to beta test override the digital.
          </li>
        </ul>
      </div>
      <figure class="vision_img">
        <Image src={VisionImg} alt="vison image" />
      </figure>
    </div>
    <div class="numbers">
      <dl>
        <div>
          <dt>1128+</dt>
          <p>Successful Work</p>
        </div>
        <div>
          <dt>908+</dt>
          <p>Team member</p>
        </div>
        <div>
          <dt>258+</dt>
          <p>Happy Customers</p>
        </div>
        <div>
          <dt>564+</dt>
          <p>Creative Idea</p>
        </div>
      </dl>
    </div>
  </article>
</section>

<style>
  :root {
    --checkmark-icon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="%234EAF4E" d="M176.49 95.51a12 12 0 0 1 0 17l-56 56a12 12 0 0 1-17 0l-24-24a12 12 0 1 1 17-17L112 143l47.51-47.52a12 12 0 0 1 16.98.03M236 128A108 108 0 1 1 128 20a108.12 108.12 0 0 1 108 108m-24 0a84 84 0 1 0-84 84a84.09 84.09 0 0 0 84-84"/></svg>');
  }

  @layer components {
    .wrapper {
      padding: 80px 0;
    }
    .numbers {
      dl {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 4rem;
        margin-top: 50px;
      }

      dt {
        font-size: var(--h3);
        font-weight: 600;
        margin-bottom: 15px;
      }
    }

    .text h3 {
      margin: 10px 0 15px;
    }

    ul {
      padding: 0;

      li {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        font-family: var(--font-lato);
        color: var(--color-neutrals-700);
        margin-bottom: 16px;

        &::before {
          content: "";
          width: 20px;
          height: 20px;
          background: var(--checkmark-icon) center / contain no-repeat;
          flex-shrink: 0;
        }
      }
    }

    .vision_desc {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 3rem;
    }

    .vision_img img {
      width: 100%;
      height: auto;
      border-radius: 20px;
      display: block;
    }

    figure {
      position: relative;
      margin: 0;
      max-width: 100%;

      &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: -20px;
        background: var(--color-green-400);
        border-radius: 20px;
        width: 120px;
        height: 100px;
        z-index: -1;
      }
    }

    @media (max-width: 1024px) {
      .vision_desc {
        grid-template-columns: 1fr;
        justify-items: center;
        padding-inline: 9rem;
      }

      .numbers {
        margin: 4rem;
      }
      .text {
        text-align: center;
      }

      .vision_img {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
      }

      figure::before {
        right: 0;
        top: -10px;
        width: 80px;
        height: 70px;
      }
    }
  }
</style>
