---
const { service } = Astro.props;
import ArrowRight from "@icons/arrow--right.svg";
---

<article>
  <h2>{service.title}</h2>
  <p>{service.description}</p>
  <a href="#0">{service.buttonText} <ArrowRight stroke-width={2.5} /></a>
  <!-- <a> burde måske være en variant af en component -->
</article>

<style>
  @layer components {
    article {
      background: var(--color-blue-700-transparent);
      color: var(--color-on-surface-elevated);
      padding: 2rem; /* Dette burde være en token */
      border-radius: 20px; /* Dette burde være en token */

      display: flex;
      flex-direction: column;
      gap: var(--space-sm);
      min-height: 220px;
    }

    h2 {
      font-size: 20px;
      font-family: var(--font-cabin-bold);
    }

    p {
      color: var(--color-neutrals-50);
    }

    a {
      display: inline-flex;
      gap: 1ch;
      color: var(--color-action);
      font-weight: bold;

      margin-top: auto;

      svg {
        inline-size: 16px;
      }
    }
  }
</style>
