---
import ServiceCard from "@components/ServiceCard.astro";
import servicesData from "@data/services.json";
import DynamicImage from "@helpers/DynamicImage.astro";
---

<div class="services-grid">
  {servicesData.services.map((service) => <ServiceCard service={service} />)}
</div>

<style>
  @layer components {
    .services-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 24px;
    }
  }
</style>
