<section>
  <div class="team_inner">
    <article class="team_single">
      <div>
        <img
          src="/src/data/images/sarah.webp"
          alt="Sarah Jasmine"
          class="profile_img"
        />
      </div>

      <div>
        <h2 class="profile_name">Sarah Jasmine</h2>
        <span class="profile_title">CEO at Company</span>
        <p class="description_long">
          Sarah Jasmine is a dynamic CEO known for her innovative leadership
          style and commitment to excellence. With a background in technology
          and business, she has transformed her company into a market leader.
          Sarah is passionate about fostering a collaborative work environment
          and empowering her team to achieve their best. Her vision and
          strategic thinking have driven significant growth and success, making
          her a respected figure in the industry.
        </p>
        <br />
        <hr />
        <h3>Past Experience</h3>
        <p class="past_experience">
          Sarah Jasmine has a rich background in project management, having
          successfully led multiple teams through complex initiatives. Her
          expertise lies in coordinating efforts across departments to ensure
          timely delivery and high-quality outcomes. Over the years, she has
          honed her skills in strategic planning and stakeholder engagement,
          making her a valuable asset in any organization. Sarah's dedication to
          fostering collaboration and her ability to adapt to changing
          circumstances have consistently driven her teams to exceed
          expectations. With a focus on continuous improvement, she embraces
          challenges as opportunities for growth.
        </p>
      </div>
    </article>
  </div>
</section>

<style>
  @layer components {
    .team_single {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8rem;
    }

    .profile_pic {
      width: 50%;
    }
  }
</style>
